.round{
    border-radius: 15px;

}
@font-face{
	font-family: forque;
	src: url(/fonts/Forque.ttf);
}
@font-face{
	font-family: fragmentcore;
	src: url(/fonts/Fragmentcore.otf);
}
.font1{
	font-family: forque;
}
.font2{
	font-family: fragmentcore;
}
img{
	border: solid 0.5px black;
	width: 600px;
	z-index: -1;
	position: relative;
}
.btn{
	background-color: darkgreen;
	border-radius: 5px;
	padding: 8px;
	width: 100px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	z-index: 1;
}


