
@font-face{
	font-family: forque;
	src: url(/fonts/Forque.ttf);
}
@font-face{
	font-family: fragmentcore;
	src: url(/fonts/Fragmentcore.otf);
}
.font1{
	font-family: forque;
}
.font2{
	font-family: fragmentcore;
}

.btn{
	background-color: darkgreen;
	border-radius: 5px;
	padding: 8px;
	width: 100px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	z-index: 1;
}

button{
	background-color: rgb(0, 0, 0);
	padding: 1px;
	width: 25px;
	height: 25px;
	color: white;
	border-radius: 100%;
}
